html, body {
  color: #000000;
  margin: auto;
  padding: auto;
cursor: url("img/TimeAdventure.png"), auto;
}

#snail {
  position: absolute;
  width: 10%;
  left: 90%;
  top: 80%;
}

canvas {
  position: relative;
}

